snippet kv
	print(k, v)

snippet date
	Current date is `strftime('%c')`

snippet class
	---@class ${1:Class}
	---@field public ${2:prop} ${3:number}
	local ${1:Class} = {
		-- ${2:prop} = 0
	}
	${1:Class}.__index = ${1:Class}

	---@return ${1:Class}
	function ${1:Class}:new()
		local t = {}
		t.${2:prop} = 0
		return setmetatable(t, self)
	end

	return ${1:Class}

snippet classclosure
	local function ${1:Class}(${2})
		local self = {
			${2}
		}

		return self
	end
