snippet kv
	print(k, v)

snippet date
	Current date is `strftime('%c')`

snippet class
	local ${1:Class} = {}
	${1:Class}.__index = ${1:Class}

	function ${1:Class}:new()
		local t = {}
		-- t.prop = 'something'
		return setmetatable(t, self)
	end

	return ${1:Class}

