! =============================
!  XTerm configuration
! =============================

Xft.dpi: 96

! Terminal type
XTerm*termName: xterm-256color

! Geometry
XTerm*VT100*geometry: 80x38

! Basic behaviour
XTerm*eightBitInput: true
XTerm*loginshell: true
XTerm*savelines: 16384
XTerm*scrollTtyOutput: false
XTerm*scrollKey: true

XTerm*fontFace: Inconsolata
xterm*faceSize: 16

! Allow mouse scrolling and operations
XTerm*allowMouseOps: true
XTerm*allowWheelOps: true
XTerm*alternateScroll: true
XTerm*rightScrollBar: true

! Title ops
XTerm.vt100.allowTitleOps: true

! Colors
XTerm*background: black
XTerm*foreground: gray

! Select to clipboard (PRIMARY + CLIPBOARD)
XTerm.vt100.selectToClipboard: true

! Modern paste
XTerm*VT100.Translations: #override \
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! Character classes for URL selection
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

